* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(161, 116, 155) 0%,
    rgb(208, 209, 226) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #edf3ee;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 39px 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 1;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 19px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #8e7091;
  outline: none;
  width: 410px;
  background: transparent;
  color: rgb(0, 0, 0);
}

.todo-input::placeholder {
  color: #000000;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(146, 104, 143) 0%,
    rgb(187, 115, 177) 100%
  );
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #c761c7;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgb(219, 130, 219) 0%,
    rgb(216, 94, 190) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(221, 140, 190) 0%,
    rgb(183, 117, 192) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(200, 182, 235) 0%,
    rgb(170, 126, 159) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(189, 151, 187) 0%,
    rgb(226, 181, 228) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(164, 118, 168) 0%,
    rgb(218, 143, 205) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(0, 0, 0);
}

.edit-icon {
  color: rgb(0, 0, 0);
}